.guides(data-controller='pulley.view.controls.GuidesVC')
	.container.one-column
		.row
			.col-xs-12
				.inner
	.container.two-columns
		.row
			.col-xs-6
				.inner
			.col-xs-6
				.inner
	.container.three-columns
		.row
			.col-xs-4
				.inner
			.col-xs-4
				.inner
			.col-xs-4
				.inner
	.container.four-columns
		.row
			.col-xs-3
				.inner
			.col-xs-3
				.inner
			.col-xs-3
				.inner
			.col-xs-3
				.inner
	.container.six-columns
		.row
			.col-xs-2
				.inner
			.col-xs-2
				.inner
			.col-xs-2
				.inner
			.col-xs-2
				.inner
			.col-xs-2
				.inner
			.col-xs-2
				.inner
	.container.twelve-columns
		.row
			.col-xs-1
				.inner
			.col-xs-1
				.inner
			.col-xs-1
				.inner
			.col-xs-1
				.inner
			.col-xs-1
				.inner
			.col-xs-1
				.inner
			.col-xs-1
				.inner
			.col-xs-1
				.inner
			.col-xs-1
				.inner
			.col-xs-1
				.inner
			.col-xs-1
				.inner
			.col-xs-1
				.inner