
<div class="slider">
  <div class="inner">
    <nav>
      <div class="previous-button">
        <div class="inner"><img src="/libs/bower_components/Pulley/view/controls/slider/previous-button.png" alt="Previous"/></div>
      </div>
      <div class="next-button">
        <div class="inner"><img src="/libs/bower_components/Pulley//view/controls/slider/next-button.png" alt="Next"/></div>
      </div>
      <div data-view="Pulley.view.controls.Paginator" class="paginator">
        <ul>
          <li data-id="0"><a><span class="bullet"></span>
              <div class="label">Item A</div></a></li>
          <li data-id="1"><a><span class="bullet"></span>
              <div class="label">Item B</div></a></li>
        </ul>
      </div>
    </nav>
    <ul class="slides">
      <li class="slide">
        <Lorem></Lorem>
      </li>
      <li class="slide">
        <Ipsum></Ipsum>
      </li>
      <li class="slide">
        <Sit></Sit>
      </li>
    </ul>
  </div>
</div>