.slider
	.inner
		nav
			.previous-button
				.inner
					img(src="/libs/bower_components/Pulley/view/controls/slider/previous-button.png", alt="Previous")
			.next-button
				.inner
					img(src="/libs/bower_components/Pulley//view/controls/slider/next-button.png", alt="Next")
			include ../paginator/paginator.jade
		ul.slides
			li.slide
				Lorem
			li.slide
				Ipsum
			li.slide
				Sit