
<div data-view="Pulley.view.controls.NavBar" class="NavBar">
  <div class="inner">
    <div class="left">
      <!--.NavBarButton-->
      <!--a.button.closeButton(alt='', href='projects/1')
      .inner
       .inner
        .icon
         img.defaultState(alt='', src='src/view/app/images/icons/closeIcon-white.svg')
         img.activeState(alt='', src='src/view/app/images/icons/closeIcon-color.svg')
        .label Close
      -->
    </div>
    <div class="middle">
      <!--SAMPLE: .inner
      .inner
       h1
        | Title
      -->
    </div>
    <div class="right">
      <!---->
    </div>
  </div>
</div>