.NavBar(data-controller='pulley.view.controls.NavBarVC')
	.inner
		.left
			//.NavBarButton
			//a.button.closeButton(alt='', href='#/projects/1')
				.inner
					.inner
						.icon
							img.defaultState(alt='', src='src/view/app/images/icons/closeIcon-white.svg')
							img.activeState(alt='', src='src/view/app/images/icons/closeIcon-color.svg')
						.label Close
		.middle
			//SAMPLE: .inner
				.inner
					h1
						| Title
		.right
			//